.home-container{
    display: flex;
}


.container-sidebar{
    width: 35%;
    align-items: flex-end;
    margin-right: 1vw;

}
.posts-container{
    display: flex;
    flex-direction: column;
    border-left: 0.01vw solid grey;

}

.welcome-greeting{
    margin: 1.5vw;
    font-size: 1.5vw;
}

.post{
    margin: 2vw;
}