.home-container{
    display: flex;
    max-width: 100%;
    max-height: 100%;
}


.container-sidebar{
    width: 60%;
    align-items: flex-end;
    border-right: 0.01vw solid grey;
}

.mobile-home-logo{
    visibility: collapse;
    display: flex;
    margin: 1vw;
}
.sidebar-button{
    margin-right: 1vw;
}
@media only screen and (max-device-width: 1000px) {
    .container-sidebar{visibility:collapse; position:absolute;}
    .posts-container{align-items: center;}
    .container-postpage{margin: 2vw 5vw;}
    .mobile-home-logo{visibility:visible;}
    /* .onclick-sidebar{visibility: visible; } */
}
@media only screen and (min-device-width: 1000px){
    .container-sidebar{visibility: visible;}
}

.slide-out{
    width: 30%;
    position: absolute;
    background-color: black;
    z-index: 1;
}

.posts-container{
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available; 
    
}
/* .display-post::after{
    content: '';
    position: absolute;
    width: 100vw;
    border-bottom: 0.01vw solid white;
} */

.welcome{
    border-bottom: 0.01vw solid grey;
    width: 100%;
    flex-direction: row;

}
.welcome-greeting{
    margin: 1.5vw;
    font-size: 1.5vw;
    width: 100%;
}

.display-post{
    width: 100%;
    border-bottom: 0.01vw solid grey;
}
