.container-postpage {
  display: flex;
  margin: 1vw;
}

.post-picture {
  width: 2vw;
  height: 2vw;
}
.post-content {
  height: 100%;
  width: -webkit-fill-available;
}

.user-name {
  font-size: 1.25vw;
}
.user-handle,
.dot,
.date-time {
  opacity: 0.5;
  font-size: 1vw;
}

.user-dets,
.first-line {
  display: flex;
  display: row;
  align-items: center;
}

.first-line {
  justify-content: space-between;
  width: 35vw;
}

.user-dets > div {
  margin-left: 1vw;
}

.tweet-functionalities {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  justify-content: space-evenly;
}
.icons {
  width: 1vw;
  height: 1vw;
  cursor: pointer;
}
.content {
  margin: 0 1vw;
}
.wordings {
  margin-bottom: 1vw;
  /* word-break: break-all; */
  word-wrap: nowrap;
}

.delete-button {
  justify-content: flex-end;
}

@media only screen and (max-device-width: 1000px) {
  .user-name {
    font-size: 2.5vw;
  }
  .user-handle,
  .dot,
  .date-time {
    font-size: 2vw;
  }
  .post-picture {
    width: 7vw;
    height: 7vw;
  }
}
