.container-postpage{
    display: flex;
    margin: 1vw;
    
}

.display-post{
    border: 0.01vw solid grey;
    
}

.posts-content{
    height: 100%;

}
.user-dets{
    display: flex;
    display: row;
}

.user-dets > div{
    margin-left: 1vw;
}

.tweet-functionalities{
    display: flex;
    flex-direction: row;
    min-width: 100%;
    justify-content: space-evenly;
}
.icons{
    width: 1vw;
    height: 1vw;
}
.content{
    margin: 0 1vw;
}
.wordings{
    margin-bottom: 1vw;
}
