.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(91, 112, 131, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    height: 100vh;
  }

  .modal.show{
      opacity: 1;
      pointer-events: visible;
  }
  .modal-content {
    background-color: #000; 
    transition: all 0.3s ease-in-out;
    transform: translateY(-200px);
    border-radius: 1vw;
   } 

   .modal.show .modal-content{
    transform: translateY(0);
   }

   .modal-d{
    width: 40vw;
    height: 45vh;
    top: 5%;
    bottom: none;
    display: flex;
    flex-direction: column;
   }

  .modal-header,
.modal-footer {
  padding: 10px;
}

.modal-title {
    margin: 0;
  }
  
  .modal-body {
    padding: 10px;
  }

  .modal-footer{
    border-top: 0.01vw solid #eee;
    justify-content: flex-end;
  }