.container-sidebar{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidebar-components{
    display: flex;
    flex-direction: column;
    color: white;
    height: inherit;
    margin-right: 1vw;

}
.top-half{
    justify-content: space-around;
    margin-bottom: auto;
}

a{
    text-decoration: none;
    color: inherit;
}

.twitter-logo, .home-logo, .profile-picture{
    width: 3vw;
    height: 3vw;

} 
.home, .tweet-button{
        margin-top: 5vw;
}
.span-home{
    display: inline-block;
    margin: 0 0 2vw 1.5vw;
    vertical-align: middle;
    font-size: xx-large;
}

.tweet, .logout-button{
    width: 17vw;
    height: 3vw;
    border-radius: 50vw;
    font-size: 1.5vw;
    background-color: #50b7f5;
    color: white;
    border: none;
}

.profile-info{
    align-items: flex-end;
}
.logout{
    display: flex;
    flex-direction: row;
    /* width: 17vw; */
}
.user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-button{
    border: 0.1vw solid grey;
    border-radius: 1vw;
}
.logout-button{
    margin: 3vw 2vw;
    width: 75%;
    border-radius: 0;
}
.slide-up-button{
    border-radius: 1vw;
    margin: 2vw 0;

}
